body {
    background-color: #DDDDDD;
}

.container {
    padding: 10px;
    background-color: #125D98;
}

.box {
    min-height: 100px;
    border: 5px solid #3C8DAD;
    margin: 50px;
    background-color: #F5A962;
}