body{
    background-color: #DDDDDD;
}

.container {
    background-color: #125D98;
    height: 90vh;
    margin: 20px;
    padding: 5px;
}

.box {
    background-color: #F5A962;
    margin: 5px;
    font-size: 3rem;
}

.box-1 {
    min-height: 100px;
}

.box-2 {
    min-height: 200px;
}

.box-3 {
    min-height: 300px;
}